.card.theme__model{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dedede;
    z-index: 200;
    text-align: center;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    opacity: 0;
    animation: animateModel 500ms ease-in forwards;
}

@keyframes animateModel{
    to{
        opacity: 1;
    }
}

.card.theme__model:hover{
    background: #dedede;
}

.card.theme__model small{
    margin-top: 0.6rem;
    display: block;
    width: 80%;
    margin-inline: auto;
}

.theme__primary-wrapper{
    margin: 2rem 0;
}

.theme__primary-colors{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;

}

.theme__primary-colors button{
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
}


.theme__primary-colors .color-1{
    background: hsl(80, 100%, 50%)
}
.theme__primary-colors .color-2{
    background: hsl(180, 100%, 50%)
}
.theme__primary-colors .color-3{
    background: hsl(110, 100%, 50%)
}


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .card.theme__modal {
        width: var(--container-width-md);
        padding: 3rem 1.5rem;
    }
 
    .theme__primary-colors {
        gap: 0.6rem;
    }
}