header{
    height: 100vh;
    padding-top: 9.7vh;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height:100%;
    position: relative;
}


/* CTA */
.cta{
    
    margin-top: 4.8vh;
    display: flex;
    gap: 1.8%;
    justify-content: center;
}

/* header socials */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position:absolute;
    left: 0;
    bottom: 3rem;
    color: var(--color-prmr);
}


/* me */


.me{
    background: linear-gradient(#8ae7d3,transparent);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 7.8vh;
    border-radius: 50%;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
/* scroll down */

.scroll__down{
    position:absolute;
    right: -2.3rem;
    bottom:5rem;
    transform:rotate(90deg);
    font-weight: 300;
    font-size:0.9rem;
    color: var(--color-prmr);
}


/* media queries (medium device) */
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
        aspect-ratio: auto;
    }
}

@media screen and (max-width:600px){
    header{
        height: 100vh;
        aspect-ratio: auto;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
}







