/*
.card{
    background: var(--color-white);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
}

.card:hover{
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
}
*/
.card{
    background: transparent;
    border: 1px solid var(--color-white);
    padding: 1.5rem;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
}

.card:hover{
    background: var(--clr-drk);
    border: 2px solid transparent;
    transform: translateY(-0.8rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card.light{
    background: var(--color-light);
}

.card.light:hover{
    background: transparent;
    border-color:var(--color-light);
}


/* media queries (phones) */
@media screen and (max-width: 600px){
    .card{
        padding: 1.2rem;
    }
}